@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }

  header {
    @apply shadow-sm;
  }
}

@layer components {
  :root {
    --border_radius_car: 10px;
  }

  .car-wrapper {
    @apply cursor-pointer rounded-none border-none bg-transparent text-center;
  }

  .car-card-container {
    @apply w-full p-0;
  }

  .car-card {
    @apply relative z-20 flex h-[350px] flex-col items-center justify-between overflow-hidden rounded-lg bg-white shadow-lg;
  }

  .img-container {
    @apply relative h-3/4 w-full;
  }

  /* Gradient overlay styles */
  .img-container::before {
    @apply absolute inset-0;
    content: "";
    background: linear-gradient(to top, rgba(255, 255, 255, 1));
    z-index: 10;
  }

  .car-name-bold {
    @apply mt-2 text-xl font-bold;
  }

  .car-description {
    @apply flex h-2/4 flex-col justify-center;
  }

  .car-availability {
    @apply mb-2 mt-0 text-lg;
  }

  .text-limegreen {
    @apply text-green-500;
  }

  .text-crimson {
    @apply text-red-500;
  }
}
