@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --border_radius_car: 10px;
  }

  .car-wrapper {
    @apply bg-transparent border-none text-center rounded-none cursor-pointer;
  }

  .car-card-container {
    @apply p-0 w-full;
  }

  .car-card {
    @apply h-[350px] flex flex-col justify-between items-center bg-white rounded-lg shadow-lg overflow-hidden relative z-20;
  }

  .img-container {
    @apply w-full h-3/4 relative;
  }

  /* Gradient overlay styles */
  .img-container::before {
    @apply absolute inset-0;
    content: "";
    background: linear-gradient(to top, rgba(255, 255, 255, 1));
    z-index: 10;
  }

  .car-name-bold {
    @apply mt-2 text-xl font-bold;
  }

  .car-description {
    @apply h-2/4 flex flex-col justify-center;
  }

  .car-availability {
    @apply mt-0 mb-2 text-lg;
  }

  .text-limegreen {
    @apply text-green-500;
  }

  .text-crimson {
    @apply text-red-500;
  }
}
